/*dj page */
.container {
  padding: 5vw;
}
.container h1 {
  font-size: 3.5vw;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  font-weight: 200;
}
.container h1::before {
  content: "─";
  margin-right: 0.6em;
  color: #292c35;
}
.container h1::after {
  content: "─";
  margin-left: 0.6em;
  color: #292c35;
}
.boxes {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}
.boxes:last-child {
  margin-top: 120px;
}
.box {
  width: 30vw;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 200;
  padding: 0 4vw 4vw;
  border-right: 2px;
  border-left: 0;
  border-style: solid;
  border-image: linear-gradient(to bottom, #181818, #292c35, #181818) 1 100%;
}
.box:last-child {
  border-right: 0;
}
.box h2 {
  font-size: 3vw;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 200;
  line-height: 1em;
}

.box h3 {
  font-size: 1vw;
  margin-bottom: 1em;
  letter-spacing: 4px;
  font-weight: 200;
  line-height: 1em;
}

/* spinning record */
svg {
  height: auto;
  width: 50%;
}

#label {
  fill: white;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

#record {
  transform-origin: center center;
  animation: spin 4s linear infinite;
}

.line {
  stroke: white;
}
